@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');
/*!Hay que robarle a google sus fonts maestros*/

* {
    /**El selector universal para elementos de cualquier tipo.*/
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    /**Margen de 0 establece el margen para los cuatro lados. Es una abreviación para evitar tener que establecer cada lado por separado con las otras propiedades de margen*/
    padding: 0;
    /**relleno que se crea alrededor del contenido de un elemento dentro de los bordes definidos y sirve para dar formato y diseño a una página*/

}

html {
    /*Para delizar cuando se hace click en los links del menú*/
    scroll-behavior: smooth;
    /**scroll-behavior especifica el comportamiento del desplazamiento para un elemento con desplazamiento, cuando éste se produce debido a la navegación*/

}

/**Menú*/
/**Arreglando todo el contenido que se visualizará en la cabecera*/
.contenedor-header {
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

/**Contedor Header sección header*/

.contenedor-header header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    /**La propiedad CSS flex es una propiedad resumida que indica la capacidad de un elemento flexible para alterar sus dimensiones y llenar el espacio disponible*/
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

/**Contenedo Header seccion header elemento logo con ancla o link*/

.contenedor-header header .logo a {
    font-family: 'Righteous';
    font-size: 36px;
    color: #2eb61c;
    text-decoration: none;
}

/**Contenedor Header seccion lista desordenada, ésto podrá encimadas las netras de nav*/

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

/**Contendero header sección lista desordenada o bar para su apariencia al navegar, y separará los links*/

.contenedor-header header nav ul li a {
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    /**Establece la separación entre los links*/
    transition: .5s;
    /**Establece la duración del efecto*/
    text-decoration: none;
}

/**Contenedor Header seccion header, subsección nav, lista desordenada, ancha link para dar efecto cuando se deslice el cursor*/

.contenedor-header header nav ul li a:hover {
    /***Con hover especificamos una acción cuando se ponga el cursor en los 
    elementos del menú, en este caso cambiamos el color de las letras***/
    color: #2eb61c;
}

.nav-responsive {
    background-color: #2eb61c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/**Sección de Inicio*/

/**Clase del identificador de Inicio*/
.inicio {
    background: linear-gradient(to top, rgba(30, 35, 38, .2), rgba(30, 35, 38, 1)),
        url(img/python1.jpg);
    /**Agregamos efecto gradiente a la imagen de fondo del div*/
    background-size: cover;
    height: 100vh;
    color: black;
    display: flex;
    align-items: center;
}

/**Clase de contenido del banner de nuestra información*/
.inicio .contenido-banner {
    padding: 20px;
    background-color: #fff;
    /**Asignamos el color de fondo*/
    max-width: 400px;
    /**Asignamos el ancho máximo del contenedor de la información*/
    margin: auto;
    text-align: center;
    border-radius: 40px;

}
.inicio .contenido-banner img {
    margin-top: 40px;
    /**margin-top establece el margen superior de un elemento especificando una longitud o un porcentaje*/
    border: 10px, solid black;
    /*!No me lo pone y no sé por qué*/
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h2 {
    font-size: 15px;
    /**Establecemo el tamaño del H2 de mi profile*/
    font-weight: normal;
    /**con una proporción normal, o la podemos resaltar*/

}

.inicio .contenido-banner .redes a {
    color: blue;
    display: inline-block;
    text-decoration: none;
    border: 1px solid cornflowerblue;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner a:hover {
    /***Con hover especificamos una acción cuando se ponga el cursor en los*/
    background-color: cornflowerblue;

}

.sobremi {
    background-color: #1e2326;
    color: white;
    /**Cambiamos el color por defecto de las letras*/
    padding: 50px 28px;
    /**Asignamos un padding de 50 px para los punto de interess como si fuesen viñetas*/

}

.sobremi .contenido-seccion {
    /**Se asignan propiedasdes a todo el contenido de la sección, para su ubicación*/
    max-width: 1100px;
    margin: auto;
}

.sobremi h2 {
    /**Se asigna tamaño y caracteristicas al h2 que dice "Sobre mi"*/
    font-size: 50px;
    font-family: 'Righteous';
    text-align: center;
    padding: 28px, 0px;
}

.sobremi .contenido-seccion p {
    /**Se asignan caracteristicas al priper parrafo*/
    font-size: 18px;
    /**Tamaño de la letra*/
    line-height: 22px;
    margin-bottom: 20px;
    /**Espacio entre el h2 y el parráfo*/
}

.sobremi .contenido-seccion p span {
    /**Damos color y tipo de letra al span de = !Hola soy Alberto Palma*/
    color: #2eb61c;
    font-weight: bold;
}

.sobremi .fila {
    display: flex;
    /**Metemos en un flex las filas*/
}

.sobremi .fila .col {
    width: 500px;
}

.sobremi .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 20px;
    /**Definimos la separación del h3 con la lista no ordenada*/
}

.sobremi .fila .col ul {
    /**Definimos el estilo de la lista*/
    list-style: none;
}

.sobremi .fila .col ul li {
    /**Definimos el espacio entre los elementos*/
    margin: 10px 0;

}

.sobremi .fila .col ul li strong {
    display: inline-block;
    color: #2eb61c;
    width: 130px;
}

.sobremi .fila .col ul li span {
    /**Le damos caracteristicas al span que dice:"Freelance*/
    background-color: #2eb61c;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenedor-interes {
    /**Alineamos y ponemos en un flex la col de los interes*/
    display: flex;
    flex-wrap: wrap;
    /**La propiedad flex-wrap de CSS especifica si los elementos "hijos" son obligados a permanecer en una misma línea o pueden fluir en varias líneas.*/
}

.sobremi .fila .col .contenedor-interes .interes {
    width: 100px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenedor-interes .interes:hover {
    /***Con hover especificamos una acción cuando se ponga el cursor en los*/
    background-color: #2eb61c;
    /**En este caso cuando el cursor pase por uno de los intereses se pintarán de verde*/
}

.sobremi .fila .col .contenedor-interes .interes i {
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button {
    /**Le damos caracteristicas al botón de descarga del cv*/
    cursor: pointer;
    background-color: transparent;
    border: solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
}

.sobremi button .overlay {
    /**relleno del boton y su animación*/
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #2eb61c;
    z-index: -1;
    transition: 1s;
    /**Tiempo asignado para el efecto de relleno de izq a derecha*/
}

.sobremi button:hover .overlay {
    /**Efecto de relleno */
    width: 100%;
}